.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}

nav {
  height: 48px;
  padding: 16px 40px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding: 16px 40px;
}
